a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

body {
    line-height: 1;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

table th {
    text-align: left
}

*,:after,:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

button,input,select,textarea {
    color: inherit;
    font-size: inherit;
    font-style: inherit;
    font-family: inherit;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-padding-start: 0;
    align-items: flex-start;
    text-indent: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
    line-height: 1em
}

button,input[type=color],input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=file],input[type=month],input[type=number],input[type=password],input[type=reset],input[type=search],input[type=submit],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week],select,textarea {
    height: 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

input[type=color] {
    width: 1em
}

input::-ms-clear {
    display: none
}

details,summary {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

mark {
    background: none
}

hr {
    height: 1px;
    margin: 0;
    padding: 0
}

u {
    text-decoration: none
}

a {
    color: inherit;
    outline: none
}

body {
    background: #001f3f;
    -webkit-font-smoothing: antialiased;
    color: #00ff00;
    font-weight: 400;
    font-size: 16px
}

@media screen and (max-width: 1023px) {
    body {
        font-size:15px
    }
}

@media screen and (max-width: 700px) {
    body {
        font-size:14px
    }
}

@media screen and (max-width: 560px) {
    body {
        font-size:13px
    }
}

p {
    line-height: 1.25em
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.background.background-0 {
    background: linear-gradient(to left top, #001f3f, rgb(5, 0, 22) 70%);
}

.background.background-1 {
    background: linear-gradient(to right top, #001f3f, rgba(0, 0, 0, 0) 70%);
}

.button {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-family: Inconsolata, monospace;
    text-transform: uppercase;
    font-weight: 700;
    padding: 16px 22px;
    overflow: hidden
    
}

@media screen and (max-width: 1023px) {
    .button {
        padding:15px 20px
    }
}

@media screen and (max-width: 700px) {
    .button {
        padding:13px 17px
    }
}

@media screen and (max-width: 560px) {
    .button {
        padding:11px 14px
    }
}

.button:hover .label-hover,.button:hover .label-hover .inner {
    transform: translateX(0)
}

.button .border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid #fff
}

@media screen and (max-width: 700px) {
    .button .border {
        border-width:3px
    }
}

.button .label-hover {
    overflow: hidden;
    background: #fff;
    transform: translateX(-100%)
}

.button .label-hover,.button .label-hover .inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform .45s cubic-bezier(.4,0,.25,1);
    will-change: transform
}

.button .label-hover .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #001f3f;
    transform: translateX(100%)
}

.content {
    position: relative;
    width: 800px;
    margin: 0 auto;
    padding-top: 80px;
    font-family: Lato,sans-serif
}

@media screen and (max-width: 1023px) {
    .content {
        width:auto;
        margin-left: 50px;
        margin-right: 180px;
        padding-top: 50px
    }
}

@media screen and (max-width: 700px) {
    .content {
        margin-left:30px;
        margin-right: 160px;
        padding-top: 30px
    }
}

@media screen and (max-width: 560px) {
    .content {
        margin-left:20px;
        margin-right: 20px;
        padding-top: 20px
    }
}

.content .section {
    margin-bottom: 80px
}

@media screen and (max-width: 1023px) {
    .content .section {
        margin-bottom:50px
    }
}

@media screen and (max-width: 700px) {
    .content .section {
        margin-bottom:40px
    }
}

@media screen and (max-width: 560px) {
    .content .section {
        margin-bottom:30px
    }
}

.content .section .title {
    font-family: Inconsolata,monospace;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: .75em
}

@media screen and (max-width: 1023px) {
    .content .section .title {
        font-size:35px
    }
}

@media screen and (max-width: 700px) {
    .content .section .title {
        font-size:30px
    }
}

.content .section.introduction .title {
    margin-bottom: .05em;
    font-family: Inconsolata,monospace;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 700
}

@media screen and (max-width: 1023px) {
    .content .section.introduction .title {
        font-size:70px
    }
}

@media screen and (max-width: 700px) {
    .content .section.introduction .title {
        font-size:60px;
        margin-bottom: .1em
    }
}

@media screen and (max-width: 560px) {
    .content .section.introduction .title {
        padding-right:120px;
        font-size: 40px
    }
}

.content .section.introduction .sub-title {
    font-family: Inconsolata,monospace;
    font-size: 30px;
    margin-bottom: 1em;
    text-transform: uppercase
}

@media screen and (max-width: 1023px) {
    .content .section.introduction .sub-title {
        font-size:25px
    }
}

@media screen and (max-width: 700px) {
    .content .section.introduction .sub-title {
        font-size:20px
    }
}

@media screen and (max-width: 560px) {
    .content .section.introduction .sub-title {
        font-size:18px
    }
}

.content .section.introduction .description {
    width: 70%
}

@media screen and (max-width: 700px) {
    .content .section.introduction .description {
        width:auto
    }
}

.content .section.contact .list .button {
    margin-right: 8px;
    margin-bottom: 10px
}

@media screen and (max-width: 700px) {
    .content .section.contact .list .button {
        margin-right:6px;
        margin-bottom: 8px
    }
}

@media screen and (max-width: 560px) {
    .content .section.contact .list .button {
        margin-right:5px;
        margin-bottom: 7px
    }
}

.content .section.activities .list {
    font-family: Inconsolata,monospace;
    text-transform: uppercase;
    font-weight: 700
}

.content .section.activities .list .item {
    margin-bottom: 30px
}

.content .section.activities .list .item .name {
    margin-bottom: 10px;
    font-size: 20px
}

@media screen and (max-width: 1023px) {
    .content .section.activities .list .item .name {
        font-size:18px
    }
}

@media screen and (max-width: 700px) {
    .content .section.activities .list .item .name {
        font-size:16px
    }
}

@media screen and (max-width: 560px) {
    .content .section.activities .list .item .name {
        font-size:15px
    }
}

.content .section.activities .list .item .name .fade {
    opacity: .5
}

.content .section.activities .list .item .period .date {
    display: inline-block;
    text-transform: uppercase;
    padding: 5px 8px;
    font-weight: 700;
    color: #090330;
    background: #fff
}

.content .section.projects .list {
    font-family: Inconsolata,monospace;
    text-transform: uppercase;
    font-weight: 700
}

.content .section.projects .list .item {
    margin-bottom: 30px
}

.content .section.projects .list .item .name {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400
}

@media screen and (max-width: 1023px) {
    .content .section.projects .list .item .name {
        font-size:18px
    }
}

@media screen and (max-width: 700px) {
    .content .section.projects .list .item .name {
        font-size:16px
    }
}

@media screen and (max-width: 560px) {
    .content .section.projects .list .item .name {
        font-size:15px
    }
}

.content .section.projects .list .item .name .fade {
    opacity: .5
}

.content .section.projects .list .item .button {
    margin-right: 10px;
    margin-bottom: 8px
}

@media screen and (max-width: 700px) {
    .content .section.projects .list .item .button {
        margin-right:6px;
        margin-bottom: 8px
    }
}

@media screen and (max-width: 560px) {
    .content .section.projects .list .item .button {
        margin-right:5px;
        margin-bottom: 7px
    }
}

.version-3d {
    position: fixed;
    top: 90px;
    right: 90px
}

@media screen and (max-width: 1023px) {
    .version-3d {
        top:60px;
        right: 50px
    }
}

@media screen and (max-width: 700px) {
    .version-3d {
        top:38px;
        right: 30px
    }
}

@media screen and (max-width: 560px) {
    .version-3d {
        position:absolute;
        top: 24px;
        right: 20px
    }
}

